@media screen and (max-width: 380px) {
    .h1 {
        font-size: 46px;
        line-height: 64px;
    }
}


@media screen and (max-width:1280px) {
    .about__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px) {
    .info {
        position: relative;
        padding: 30px 0;
    }

    .about__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width:1280px) {
    .about {
        padding: 450px 15px 110px 15px;
    }
}

@media screen and (max-width:768px) {
    .about {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    .about__flex {
        flex-direction: column;
        align-items: center;
    }

    .about__flex-item {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .about__flex-item:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width:1280px) {
    .request {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width:768px) {
    .request__flex {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1280px) {
    .services {
        padding-left: 15px;
        padding-right: 15px;
    }

    .services__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .services__grid-item {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .services__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:1280px) {
    .portfolio__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px) {
    .portfolio__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:1280px) {
    .question {
        padding: 150px 15px 110px;
    }
}

@media screen and (max-width:1280px) {
    .partners__flex {
        justify-content: center;
    }

    .partners__item {
        margin-right: 10px;
        margin-left: 10px;
    }

    .partners__item:nth-child(5n) {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media screen and (max-width:1280px) {
    .reviews {
        padding: 100px 15px;
    }

    .reviews__grid {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px) {
    .reviews__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:1280px) {
    .contacts__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contacts__icon {
        max-width: 100%;
    }
}

@media screen and (max-width:768px) {
    .contacts__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .contacts__icon {
        max-width: 100%;
    }
}

@media screen and (max-width:1280px) {
    .footer {
        padding: 30px 15px;
    }
}

@media screen and (max-width:768px) {
    .footer__flex {
        flex-direction: column;
    }
}